{% extends 'layout_large.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% macro sidebarItem(icone, name, id, class) %}
    <li class="nav-item mb-3 w-lg-100">
        <button type="button" id="{{ id }}" class="icon-link {{ class }} nav-link ps-2 pe-3 fs-5">{{ ux_icon(icone, {height: '25px', width: '25px'}) }} &nbsp; {{ name }}</button>
    </li>
{% endmacro %}


{% block page_contents %}
    
    <form action="#" method="post">
    
        <div class="row">
            <div class="colonne_liens_calendrier col-md-12 col-lg-4">
            
                <h4 class="text-center">
                    Nouveau calendrier
                </h4>
                
                <div class="mb-3">
                    <label for="nom_calendrier" class="form-label">Nom du calendrier :</label>
                    <input type="text" class="form-control" name="nom_calendrier" id="nom_calendrier" aria-describedby="Nom calendrier">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">{{ ux_icon('mdi:chat-processing-outline', {height: '20px', width: '20px'}) }} &nbsp; Votre message :</label>
                    <input type="text" class="form-control" name="message" id="message" aria-describedby="Message">
                </div>
                
                <ul class="nav nav-pills mb-2">
                    {{ _self.sidebarItem('fluent-emoji:books', 'Choisir un theme', 'choix_theme', '#modale_theme') }}
                    {{ _self.sidebarItem('emojione:artist-palette', 'Modifier les couleurs', 'choix_couleurs', '#modaleLarge') }}
                    {{ _self.sidebarItem('fluent-emoji:national-park', 'Choisir un arrière-plan', 'choix_fond', '#modaleLarge') }}
                    {{ _self.sidebarItem('bi:share-fill', 'Partager', 'partager', '#modaleLarge') }}
                    {{ _self.sidebarItem('iconoir:trash-solid', 'Supprimer', 'supprimer', 'mt-lg-5 fw-bold lien_supprimer', '#modale_supprimer') }}
                </ul>
                
            </div>
            <div class="colonne_calendrier col-md-12 col-lg-8 text-center">
                
                <p>Cliquez sur une case pour attribuer une suprise</p>
        
                {# taille calendrier : 1880 x 1233 -- 1830x1200 -- 1200x790  -  870 x 580  -  1200 x 800 #}
                {% set svg_width = 1200 %}
                {% set svg_height = 790 %}
                
                <style>
                    image {
                        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.9));
                    }
                </style>
                
                <div id="fond_calendrier" class="mx-auto p-0 align-self-center ratio" style="--bs-aspect-ratio: 65%;">
                    <svg id="calendrier" width="{{ svg_width }}" height="{{ svg_height }}" viewBox="0 0 {{ svg_width }} {{ svg_height }}" xmlns="http://www.w3.org/2000/svg">
                        
                        <defs>
                            <filter id="trans-shadow">
                                <feDropShadow dx="4" dy="4" stdDeviation="6" flood-opacity="1" />
                                <feComposite operator="out" in2="SourceGraphic"/>
                            </filter>
                            
                            <style>
                                .cal_case {
                                    fill: rgba(0,0,0,0.5);
                                    stroke-width: 1;
                                    stroke: rgba(255,255,255,0.5);
                                    transition: all .3s ease;
                                    cursor: pointer;
                                }
                                
                                .cal_case:hover {
                                    fill: rgba(0,0,0,0.8);
                                    stroke-width: 5;
                                    stroke: rgba(255,255,255,1);
                                    transform: scale(1.05);
                                }
                                
                                .cal_numero {
                                    font-family: 'Open Sans Extrabold', sans-serif;
                                    font-size: 75px;
                                    font-weight: 700;
                                    fill: white;
                                    stroke: black;
                                    stroke-width: 2;
                                    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.9));
                                    pointer-events: none;
                                }
                            </style>
                        </defs>
                        
                        <image x="0" y="0" width="98%" height="98%" href="/images/fonds_calendriers/fond_compo_noel_5.jpg" id="cal_image" preserveAspectRatio="xMinYMin slice" />
                        
                        
                        {% set items = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'] %}
                        {% set cols = 6 %}
                        {% set rows = 4 %}
                        {% set margin_pc = 3 %}
                        {% set margin_px = (svg_width * margin_pc) / 100 %}
                        {% set rect_x = margin_px %}
                        {% set rect_y = margin_px %}
                        {% set rect_w = (((svg_width * 98) / 100) / cols) - margin_px - (margin_px / cols) %}
                        {% set rect_h = (((svg_height * 98) / 100) / rows) - margin_px - (margin_px / rows) %}
                        
                        {% for row in items|batch(cols) %}
                                {% for cell in row %}
                                    {% set rect_c_x = rect_x + (rect_w / 2) %}
                                    {% set rect_c_y = rect_y + (rect_h / 2) + 5 %}
                                    <rect width="{{ rect_w }}" height="{{ rect_h }}" x="{{ rect_x }}" y="{{ rect_y }}" rx="5" ry="5" fill="black" filter="url(#trans-shadow)" />
                                    <rect width="{{ rect_w }}" height="{{ rect_h }}" x="{{ rect_x }}" y="{{ rect_y }}" rx="5" ry="5" class="cal_case" id="case-{{cell}}" transform-origin="{{ rect_c_x }} {{ rect_c_y }}"/>
                                    <text x="{{ rect_c_x }}" y="{{ rect_c_y }}" dominant-baseline="middle" text-anchor="middle" class="cal_numero">{{cell}}</text>
                                    {% set rect_x = rect_x + rect_w + margin_px %}
                                {% endfor %}
                            {% set rect_x = margin_px %}
                            {% set rect_y = rect_y + rect_h + margin_px %}
                        {% endfor %}
                        
                  </svg>
                </div>
                
        </div>
        </div>
    </form>
    

    
{% endblock %}

{% block scripts_supp %}
    
    <script src="/js/masonry.pkgd.min.js"></script>
    
    <script>
        
        var $grid = $('#surprises_grid');
        
        var tenor_api_key = '{{ tenor_api_key }}';
        var tenor_client_key = 'osez_noel2';
        var tenor_limit = 25;
        var tenor_next = "";
        var tenor_current_url = "";
        var tenor_current_search = "";
        var ajaxready = true;
        
        var tenor_base_url = "https://tenor.googleapis.com";
        var featured_url = tenor_base_url + "/v2/featured?key=" + tenor_api_key + "&client_key=" + tenor_client_key + "&limit=" + tenor_limit + "&country=FR&locale=fr_FR&media_filter=gif,tinygif&contentfilter=high";
        var categories_url = tenor_base_url + "/v2/categories?key=" + tenor_api_key + "&client_key=" + tenor_client_key + "&country=FR&locale=fr_FR";
        var search_url = tenor_base_url + "/v2/search?key=" + tenor_api_key + "&client_key=" + tenor_client_key + "&limit=" + tenor_limit + "&country=FR&locale=fr_FR&media_filter=gif,tinygif&contentfilter=high";
        var suggestions_url = tenor_base_url + "/v2/search_suggestions?key=" + tenor_api_key + "&client_key=" + tenor_client_key + "&limit=3&country=FR&locale=fr_FR";
        
        document.addEventListener('click', function (event) {
            let id_element = event.target.id;
            let target_modal;
            var modale_titre = $('#modale_titre');
            var modale_contenu = $('#modale_body');
            
            if (event.target.matches('rect'))
            {
                let id_case;
                if (id_element.startsWith('case-'))
                {
                    id_case = id_element.substring(5);
                }
                
                target_modal = 'modale_surprise';
                $('#modale_surprise_titre').text("Choisir une surprise pour le " + id_case + " décembre");
                
                tenor_current_search = "Noël";
                $('#tenor_search').val(tenor_current_search);
                tenor_search();
                
            }
            else if (event.target.matches('img'))
            {
                let image_url = event.target.getAttribute('data-imageUrl');
                console.log(image_url);
                if (image_url != "")
                {
                    $('#image_choisie').attr("src", image_url);
                    target_modal = 'modale_image';
                }
            }
            else if (id_element == 'choix_theme')
            {
                target_modal = 'modale_large';
                modale_titre.text("Choisir un thème");
                modale_contenu.text("Cliquez sur un thème au choix pour l'appliquer. Vous pourrez ensuite personnaliser les couleurs.");
            }
            else if (id_element == 'choix_couleurs')
            {
                target_modal = 'modale_large';
                modale_titre.text("Choisir les couleurs du calendrier");
                modale_contenu.text("Vous pouvez personnaliser la couleur de fond des cases, la bordure, ainsi que la police et la couleur du numéro de jour.");
            }
            else if (id_element == 'choix_fond')
            {
                target_modal = 'modale_large';
                modale_titre.text("Choisir une image d'arrière-plan");
                modale_contenu.text("Vous pouvez personnaliser l'image d'arrière-plan du calendrier. Vous avez également la possibilité d'envoyer une photo de votre choix.");
            }
            else if (id_element == 'partager')
            {
                target_modal = 'modale_partage';
            }
            
            else if (id_element == 'supprimer')
            {
                target_modal = 'modale_supprimer';
            }
            
            if (target_modal != undefined)
            {
                var myModal = new bootstrap.Modal(document.getElementById(target_modal), {});
                myModal.show();
            }
            
        }, false);
        
        
        
        
        // function to call the featured and category endpoints
        function tenor_featured()
        {
            $grid.empty();
            $grid.append( '<h4 class="mt-4">GIFs à la une sur Tenor</h4>' );
            tenor_current_url = featured_url;
            $('#tenor_search').val('');
            
            
            $.get(featured_url, function(data)
            {
                featured_gifs = data.results;
                tenor_next = data.next;
                
                console.log(data);
                
                for (var i = 0; i < featured_gifs.length; i++)
                {
                    var featured_gif = featured_gifs[i];
                    var previmgurl = featured_gif["media_formats"]["tinygif"]["url"];
                    var imgurl = featured_gif["media_formats"]["gif"]["url"];
                    var description = featured_gif.content_description;
                    
                    var $items = $('<img src="'+ previmgurl +'" alt="'+ description +'" data-imageUrl="'+imgurl+'" style="height: 200px" class="p-2">');
                    // append items to grid
                    $grid.append( $items );
                    
                }
                
            });
        }
        
        // function to call the featured and category endpoints
        function tenor_search()
        {
            var $search_suggestions = $('#search_suggestions');
            $search_suggestions.empty();
            $grid.empty();
            $grid.append( '<h4 class="mt-4">Résultats de recherche pour " ' + tenor_current_search + ' "</h4>' );
            tenor_current_search = $('#tenor_search').val();
            search_url += "&q=" + tenor_current_search;
            suggestions_url += "&q=" + tenor_current_search;
            tenor_current_url = search_url;
            
            $.get(suggestions_url, function(data)
            {
                search_terms = data.results;
                
                console.log(search_terms);
                
                for (var i = 0; i < search_terms.length; i++)
                {
                    var current_search_term = search_terms[i];
                    console.log(current_search_term);
                    
                    var $button = $('<a href="javascript:search_term(\''+current_search_term+'\')" class="btn btn-primary mx-2">'+current_search_term+'</a>');
                    $search_suggestions.append( $button );
                }
            });
            
            
            $.get(search_url, function(data)
            {
                search_gifs = data.results;
                tenor_next = data.next;
                
                console.log(search_gifs);
                
                for (var i = 0; i < search_gifs.length; i++)
                {
                    var current_gif = search_gifs[i];
                    var previmgurl = current_gif["media_formats"]["tinygif"]["url"];
                    var imgurl = current_gif["media_formats"]["gif"]["url"];
                    var description = current_gif.content_description;
                    
                    var $items = $('<img src="'+ previmgurl +'" alt="'+ description +'" data-imageUrl="'+imgurl+'" style="height: 200px" class="p-2">');
                    $grid.append( $items );
                }
            });
        }
        
       
        
        function tenor_categories()
        {
            $grid.empty();
            $grid.append( '<h4 class="mt-4">Catégories de GIFs sur Tenor</h4>' );
            $('#tenor_search').val('');
            tenor_next = '';
            
            
            $.get(categories_url, function(data)
            {
                categories = data.tags;
                
                console.log(categories);
                
                for (var i = 0; i < categories.length; i++)
                {
                    var categorie = categories[i];
                    console.log(categorie);
                    var imgurl = categorie.image;
                    var txt_overlay = categorie.name;
                    var search_term = categorie.searchterm;
                    
                    var $items = $('<a href="javascript:search_term(\''+search_term+'\')" class="category_link">' +
                          '<img src="'+ imgurl +'" alt="'+ txt_overlay +'" style="height: 200px" class="p-2">' +
                          '<div class="centered">'+ txt_overlay +'</div>' +
                          '</a>');
                    // append items to grid
                    $grid.append( $items );
                    
                }
            });
        }
        
        function search_term(search_term)
        {
            tenor_current_search = search_term;
            $('#tenor_search').val(search_term);
            tenor_search();
        }
        
        
        // SUPPORT FUNCTIONS ABOVE
        // MAIN BELOW
        
        $("#tenor_featured").on("click", function() {
            tenor_featured();
        });
        
        $("#tenor_categories").on("click", function() {
            tenor_categories();
        });
        
        $("#tenor_search").on("input", function() {
            tenor_current_search = $('#tenor_search').val();
            if (tenor_current_search != '') tenor_search();
        });
        
        
        
        // start the flow
        
        $('#modale_surprise_body').bind('scroll', function()
        {
            if (ajaxready == false) return;
            
            console.log("scrollTop : " + $(this).scrollTop());
            console.log("innerHeight : " + $(this).innerHeight());
            console.log("scrollTop + innerHeight : " + ($(this).scrollTop() + $(this).innerHeight()));
            
            console.log("scrollHeight : " + $(this)[0].scrollHeight);
            if($(this).scrollTop() + $(this).innerHeight() + 250 >= $(this)[0].scrollHeight)
            {
                if (tenor_next != "")
                {
                    ajaxready = false;
                    $.get(tenor_current_url + '&pos=' + tenor_next, function(data)
                    {
                        search_gifs = data.results;
                        tenor_next = data.next;
                        
                        console.log(search_gifs);
                        
                        for (var i = 0; i < search_gifs.length; i++)
                        {
                            var current_gif = search_gifs[i];
                            var previmgurl = current_gif["media_formats"]["tinygif"]["url"];
                            var imgurl = current_gif["media_formats"]["gif"]["url"];
                            var description = current_gif.content_description;
                            
                            var $items = $('<img src="'+ previmgurl +'" alt="'+ description +'" data-imageUrl="'+imgurl+'" style="height: 200px" class="p-2">');
                            $grid.append( $items );
                        }
                        ajaxready = true;
                        
                    });
                }
            }
        });
        
    </script>


{% endblock %} {# // bloc scripts #}


{% block modals %}
    
    <!-- Modal -->
    <div class="modal fade" id="modale_large" tabindex="-1" aria-labelledby="modale_titre" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered ">
            <div class="modal-content shadow3">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modale_titre">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modale_body">
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modale surprise -->
    <div class="modal fade" id="modale_surprise" tabindex="-1" aria-labelledby="modale_surprise_titre" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered ">
            <div class="modal-content shadow3">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modale_surprise_titre">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header">
                    
                    <form class="w-100">
                        <div class="row align-items-center">
                            
                            <div class="col-3">
                                <div class="form-floating">
                                    <input type="text" id="tenor_search" class="form-control" placeholder="GIFs avec Tenor" aria-label="GIFs avec Tenor" aria-describedby="recherche_tenor">
                                    <label for="tenor_search">Rechercher des GIFs avec Tenor</label>
                                </div>
                            </div>
                            <div class="col-6" id="search_suggestions">
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-primary" id="tenor_featured">GIFS à la une</button>
                                <button type="button" class="btn btn-primary" id="tenor_categories">Catégories</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-body text-center" id="modale_surprise_body">
                    <form class="w-100">
                        <div class="row align-items-center">
                            <div class="col-7 pt-3">
                                <p>Recherchez une surprise sur Tenor, ou ajoutez un lien vers une vidéo youtube :</p>
                            </div>
                            <div class="col-5">
                             <div class="input-group">
                                <input type="text" id="video_youtube" class="form-control" placeholder="Lien vidéo youtube" aria-label="Lien vidéo youtube" aria-describedby="video_youtube">
                                <button class="btn btn-outline-secondary" type="submit" id="bouton_youtube_envoyer">Envoyer</button>
                            </div>
                            </div>
                        </div>
                    </form>
                    
                    <div class="grid" id="surprises_grid">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Modale image -->
    <div class="modal fade" id="modale_image" tabindex="-1" aria-labelledby="modale_image_titre" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered ">
            <div class="modal-content shadow3">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modale_surprise_titre">Aperçu de l'image choisie</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" id="modale_surprise_body">
                    <img src="" id="image_choisie" alt="" class="my-4">
                    <p>
                        <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Retour</button>
                        <button type="button" class="btn btn-success mx-2">Valider</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Modale partage -->
    
    {% set uuid = '7332ea4f-6163-471a-ab00-b0188653b433' %}
    {% set lien = 'https://oseznoel.guhring.ovh/calendrier/' ~ uuid %}
    {% set qrcode = 'https://oseznoel.guhring.ovh/images/qrcode_' ~ uuid ~ ".png" %}
    
    <div class="modal fade" id="modale_partage" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered ">
            <div class="modal-content shadow3">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Partager ce calendrier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modale_partage_body">
                    <div class="text-center">
                        <p>Voici le lien, et le QR-Code de votre calendrier :</p>
                        <p><a href="{{ lien }}" target="blank">{{ lien }}</a></p>
                        <p><img src="{{ qrcode }}" class="w-50"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Modale supprimer -->
    <div class="modal fade" id="modale_supprimer" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content shadow3">
                <div class="modal-header">
                    <h1 class="modal-title fs-4">Supprimer ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-5">
                    <p>Êtes-vous sur de vouloir supprimer ce calendrier ?</p>
                    <p>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}