{% extends 'layout_normal.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block page_contents %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
       
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        
        <div class="row mb-3 justify-content-center">
            <div class="col-md-8 px-5 ">
                <h2 class="text-center">
                    J'ai déjà un compte
                </h2>
                
                <h5 class="text-center mb-5">
                    Pas encore de compte ?<br>Rendez-vous sur la page <a href="{{ path('app_register') }}">d'inscription</a> pour en créer un !
                </h5>
                
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                
                
                <div class="mb-3">
                    <label for="username" class="form-label">Email :</label>
                    <input type="email" value="{{ last_username }}" name="_username" class="form-control" id="username" aria-describedby="Email" autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe :</label>
                    <input type="password" name="_password" class="form-control" id="password" aria-describedby="Mot de passe" autocomplete="current-password" required>
                </div>
                <div class="form-check">
                    {# See https://symfony.com/doc/current/security/remember_me.html #}
                    <input class="form-check-input" type="checkbox" value="" name="_remember_me" id="_remember_me">
                    <label class="form-check-label" for="_remember_me">
                        Se souvenir de moi
                    </label>
                </div>
                
                <input type="hidden" data-controller="csrf-protection" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-success rounded-pill my-4 px-5 fs-5 open-sans-bold shadow">S'identifier</button>
                </div>
            
            </div>
        </div>
    
    </form>
{% endblock %}
