{% extends 'layout_sidebar.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% macro sidebarItem(name, url, icone) %}
    {% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% set isActive = currentUrl == url %}
    
    <li class="nav-item mb-3">
        <a href="{{ url }}" class="icon-link nav-link {% if isActive %}active{% endif %} px-4 fs-5">{{ ux_icon(icone, {height: '16px', width: '16px'}) }} &nbsp; {{ name }}</a>
    </li>
{% endmacro %}


{% block sidebar_contents %}
    <div class="text-center">
        <h2>
            {{ block('title') }}
        </h2>
        
        <ul class="nav nav-pills mb-2">
            {{ _self.sidebarItem('Mes calendriers', path('mon_compte'), 'fa6-solid:calendar-days') }}
            {{ _self.sidebarItem('Nouveau calendrier', path('nouveau_calendrier'), 'fa6-solid:pen') }}
            {{ _self.sidebarItem('Mes informations', path('mes_informations'), 'fa6-solid:user') }}
        </ul>
        
    </div>
{% endblock %}

{% block page_contents %}
    <div class="text-center">
        <h4>
             Cliquez sur un calendrier pour le modifier, le partager ou le supprimer.
        </h4>
        
        <div class="row align-items-start mb-3">
            <div class="col-md-6 mb-3">
                <span class="fs-5 px-5">Maman</span>
                <img src="{{ asset('images/calendrier_1.png') }}" class="img-fluid mt-2 shadow2" alt="Exemple calendrier 1">
            </div>
            <div class="col-md-6 mb-3">
                <span class="fs-5 px-5">Papa</span>
                <img src="{{ asset('images/calendrier_2.png') }}" class="img-fluid mt-2 shadow2" alt="Exemple calendrier 2">
            </div>
            <div class="col-md-6 mb-3">
                <span class="fs-5 px-5">Christophe</span>
                <img src="{{ asset('images/calendrier_3.png') }}" class="img-fluid mt-2 shadow2" alt="Exemple calendrier 3">
            </div>
        </div>
        
    </div>
{% endblock %}